USE [PCSAttendance]
GO
/****** Object:  Table [dbo].[AttandenceSheet]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttandenceSheet](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[yearmth] [nvarchar](10) NULL,
	[mth] [nvarchar](4) NULL,
	[dayys] [nvarchar](4) NULL,
	[UploadedOn] [datetime] NULL,
	[RepDateTime] [datetime] NULL,
	[Computer] [nvarchar](150) NULL,
	[Duration] [time](7) NULL,
	[DataFrom] [nvarchar](150) NULL,
	[Remark] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AttandenceSheetRtp]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AttandenceSheetRtp]
AS
	SELECT yearmth,mth,dayys,UploadedOn,RepDateTime,Computer,Duration,
	(DATEPART(HOUR, Duration)*3600)+(DATEPART(MINUTE, Duration)*60)+(DATEPART(SECOND, Duration)) as TotDur,DataFrom
	FROM AttandenceSheet;
GO
/****** Object:  Table [dbo].[AttandenceUserRtp_v1]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttandenceUserRtp_v1](
	[UserIdIs] [nvarchar](200) NULL,
	[DateTimes] [date] NULL,
	[yyyymm] [nvarchar](10) NULL,
	[mm] [nvarchar](8) NULL,
	[dd] [nvarchar](8) NULL,
	[WeekDays] [nvarchar](20) NULL,
	[WeekOffStatus] [nvarchar](50) NULL,
	[IsPrsent] [nvarchar](10) NULL,
	[startt] [datetime] NULL,
	[endt] [datetime] NULL,
	[latintime] [time](7) NULL,
	[preouttime] [time](7) NULL,
	[TotLastPre] [time](7) NULL,
	[OfHr] [time](7) NULL,
	[OvTHrs] [time](7) NULL,
	[TotHrs] [time](7) NULL,
	[loginHr] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ATTENDANCE_SUM]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ATTENDANCE_SUM]
AS
	select a.UserIdIs as USERNAME, a.yyyymm as YYYYMM,
	(select count(*) from AttandenceUserRtp_v1 b where b.yyyymm=a.yyyymm and b.UserIdIs=a.UserIdIs and b.WeekDays!='sunday') as TOTALDAYS,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='P') as PRESENT,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='A') as ABSENT,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='L') as FullDay,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='LH') as HalfDay,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='OC') as Compensate,
	(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='O') as HOLIDAY,
	CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) % 60))) as LATEINTIME,
	CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) % 60))) as PREOUTTIME,
	CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) % 60))) as WORKIMGHR,
	CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) % 60))) as OTHOURS,
	CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) % 60))) as LOGIMHOURS
	from AttandenceUserRtp_v1 a
	where DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)>20
	GROUP BY a.UserIdIs, a.yyyymm
GO
/****** Object:  Table [dbo].[AttandenceUserRtp]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttandenceUserRtp](
	[UserIdIs] [nvarchar](200) NULL,
	[DateTimes] [date] NULL,
	[yyyymm] [nvarchar](10) NULL,
	[mm] [nvarchar](8) NULL,
	[dd] [nvarchar](8) NULL,
	[WeekDays] [nvarchar](20) NULL,
	[WeekOffStatus] [nvarchar](50) NULL,
	[IsPrsent] [nvarchar](10) NULL,
	[startt] [datetime] NULL,
	[endt] [datetime] NULL,
	[latintime] [time](7) NULL,
	[preouttime] [time](7) NULL,
	[TotLastPre] [time](7) NULL,
	[OfHr] [time](7) NULL,
	[OvTHrs] [time](7) NULL,
	[TotHrs] [time](7) NULL,
	[loginHr] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calenders]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calenders](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[DateTimes] [datetime] NULL,
	[yyyymm] [nvarchar](8) NULL,
	[mm] [nvarchar](4) NULL,
	[dd] [nvarchar](4) NULL,
	[WeekDays] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConSetting]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConSetting](
	[SetName] [nvarchar](100) NOT NULL,
	[SstVal] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [int] NOT NULL,
	[event_name] [varchar](100) NULL,
	[event_time] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthHolidays]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthHolidays](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[DateTimes] [datetime] NULL,
	[Ocation] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolsTemp]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolsTemp](
	[col1] [nvarchar](max) NULL,
	[col2] [nvarchar](max) NULL,
	[col3] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolsTempRec]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolsTempRec](
	[col1] [nvarchar](max) NULL,
	[col2] [nvarchar](max) NULL,
	[col3] [nvarchar](max) NULL,
	[col4] [nvarchar](max) NULL,
	[col5] [nvarchar](max) NULL,
	[col6] [nvarchar](max) NULL,
	[col7] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLeaves]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLeaves](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](200) NULL,
	[DateTimes] [datetime] NULL,
	[LeaveTyp] [nvarchar](200) NULL,
	[LeaveDec] [nvarchar](200) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userlists]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userlists](
	[UserIdIs] [nvarchar](200) NULL,
	[yyyymm] [nvarchar](8) NULL,
	[mm] [nvarchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttandenceSheet] ADD  DEFAULT ('TeraMind') FOR [DataFrom]
GO
ALTER TABLE [dbo].[AttandenceSheet] ADD  DEFAULT ('') FOR [Remark]
GO
ALTER TABLE [dbo].[ConSetting] ADD  DEFAULT ('') FOR [SetName]
GO
ALTER TABLE [dbo].[ConSetting] ADD  DEFAULT ('') FOR [SstVal]
GO
ALTER TABLE [dbo].[UserLeaves] ADD  DEFAULT ('') FOR [Remark]
GO
/****** Object:  StoredProcedure [dbo].[AddRtpReport]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddRtpReport]
@Repdt Date
as
	
	declare @gstartdate date = @Repdt;
	declare @genddate date = (select DATEADD(month, 1, @Repdt));
	--select @gstartdate,@genddate;
	declare @TempTbl1 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int
	);


	declare @TempTbl2 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int
	);

	declare @TempTbl3 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int
	);


	declare @TempTbl4 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int
	);

	declare @TempTbl5 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int
	);

	insert into @TempTbl1
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec from AttandenceSheetRtp a where 
	CAST(a.RepDateTime as time) between '09:45' and '19:00' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys;

	insert into @TempTbl1
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec from AttandenceSheetRtp a where 
	CAST(a.RepDateTime as time) between '09:45' and '16:30' and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys;

	insert into @TempTbl1
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,0 as WorkSec from AttandenceSheetRtp a where 
	(DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys;

	--select * from @TempTbl1 order by Computer,yearmth,Dayys

	insert into @TempTbl2
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec from AttandenceSheetRtp a 
	where (DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys

	insert into @TempTbl2
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec from AttandenceSheetRtp a 
	where CAST(a.RepDateTime as time)>'00:00' and CAST(a.RepDateTime as time)<'09:45' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys

	insert into @TempTbl2
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec from AttandenceSheetRtp a 
	where CAST(a.RepDateTime as time)>'19:45' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday'and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys

	insert into @TempTbl2
	select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0)as WorkSec from AttandenceSheetRtp a 
	where CAST(a.RepDateTime as time)>'16:30' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date)not in (select DateTimes from MonthHolidays)
	and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate
	group by a.Computer,a.yearmth,a.Dayys

	insert into @TempTbl3
	select Computer,min(startt),max(endt),yearmth,Dayys,isnull(sum(WorkSec),0) from @TempTbl2 group by Computer,yearmth,Dayys;



	select a.Computer,a.yearmth,a.Dayys,DATENAME(WEEKDAY, a.startt) AS dayweek,a.startt,a.endt,
	--concat(cast(a.startt as date),' ','09:45') as lattime,
	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) then
		CONCAT(FLOOR(isnull((DATEDIFF(SECOND,(cast((concat(cast(a.startt as date),' ','09:45')) as datetime)),a.startt)),0) / 3600),':',FLOOR((isnull((DATEDIFF(SECOND,(cast((concat(cast(a.startt as date),' ','09:45')) as datetime)),a.startt)),0) % 3600) / 60))
	else '' 
	end as latintime,

	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) then
		case when DATENAME(WEEKDAY, a.startt)='Saturday' then
		CONCAT(FLOOR((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','16:30')) as datetime))) ) / 3600),':',FLOOR(((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','16:30')) as datetime))) ) % 3600) / 60))
		else	
		CONCAT(FLOOR((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','19:00')) as datetime))) ) / 3600),':',FLOOR(((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','19:00')) as datetime))) ) % 3600) / 60))
		end
	else ''	
	end as preouttime,

	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) then
		CONCAT(FLOOR(a.WorkSec / 3600),':',FLOOR((a.WorkSec % 3600) / 60)) 
	else '' end as OfHr,
	CONCAT(FLOOR(isnull(b.WorkSec,0) / 3600),':',FLOOR((isnull(b.WorkSec,0) % 3600) / 60)) as OvTHrs,
	CONCAT(FLOOR((a.WorkSec+isnull(b.WorkSec,0)) / 3600),':',FLOOR(((a.WorkSec+isnull(b.WorkSec,0)) % 3600) / 60)) as TotHrs,
	(SELECT DATEDIFF(MINUTE,  a.startt, a.endt))/60 as loginHr from @TempTbl1 a 
	left join @TempTbl3 b on a.Computer=b.Computer and a.yearmth=b.yearmth and a.Dayys=b.Dayys order by  Computer,yearmth,Dayys;

GO
/****** Object:  StoredProcedure [dbo].[CheckDiffInSheet]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CheckDiffInSheet]
@Repdtis Date,
@UserName nvarchar(200),
@Diff int
as
	declare @gstartdate date = (select cast(concat(YEAR(@Repdtis),'/',Month(@Repdtis),'/','01') as date));
	declare @genddate date = (select DATEADD(MONTH, 1, @gstartdate));

	DROP TABLE IF EXISTS #AttandenceSheet;
	CREATE TABLE #AttandenceSheet
	(
		[SrNo] [int] IDENTITY(1,1) NOT NULL,
		[yearmth] [nvarchar](10) NULL,
		[mth] [nvarchar](4) NULL,
		[dayys] [nvarchar](4) NULL,
		[UploadedOn] [datetime] NULL,
		[RepDateTime] [datetime] NULL,
		[Computer] [nvarchar](150) NULL,
		[Duration] [time](7) NULL,
		[RepDateTime2] [datetime] NULL,
		[DiffMin] int default 0,
		[DiffHHmm] nvarchar(6) default '00:00'
	)

	CREATE INDEX idx_SrNo ON #AttandenceSheet (SrNo);
	CREATE INDEX idx_RepDateTime ON #AttandenceSheet (RepDateTime);

	insert into #AttandenceSheet (yearmth,mth,dayys,UploadedOn,RepDateTime,Computer,Duration)
	select yearmth,mth,dayys,UploadedOn,RepDateTime,Computer,Duration from AttandenceSheet 
	where Computer=@UserName and RepDateTime>=@gstartdate and RepDateTime<@genddate 
	and cast(RepDateTime as time)>=CONVERT(TIME, '09:45:00') and cast(RepDateTime as time)<CONVERT(TIME, '19:00:00') 
	and DataFrom='TeraMind' order by RepDateTime;

	declare @rncount int = (select count(*) from #AttandenceSheet);
	declare @rni int = 0;

	while(@rni<@rncount-1)
	begin
		declare @firstdatetime datetime = (select RepDateTime from #AttandenceSheet where SrNo=(@rni+1));
		--declare @Secdatetime datetime = (select RepDateTime from #AttandenceSheet where SrNo=(@rni+2));
		if(@rni=0)
		begin
			update #AttandenceSheet set RepDateTime2=@firstdatetime where SrNo=(@rni+1);
		end
		--declare @minns int = (select DATEDIFF(MINUTE,@firstdatetime,@Secdatetime));
		--select @minns;
		--update #AttandenceSheet set DiffMin=@minns,DiffHHmm=(convert(varchar(10), @minns / 60) + ':' + convert(varchar(10), @minns % 60)) where SrNo=(@rni+2);
		update #AttandenceSheet set RepDateTime2=@firstdatetime where SrNo=(@rni+2);
		set @rni = @rni+1;
	end

select RepDateTime,Computer,Duration,(select DATEDIFF(MINUTE,RepDateTime2,RepDateTime)) as DiffMin,(convert(varchar(10), (select DATEDIFF(MINUTE,RepDateTime2,RepDateTime)) / 60) + ':' + convert(varchar(10), (select DATEDIFF(MINUTE,RepDateTime2,RepDateTime)) % 60)) as DiffHHmm 
from #AttandenceSheet where (select DATEDIFF(MINUTE,RepDateTime2,RepDateTime))>=@Diff order by RepDateTime;

GO
/****** Object:  StoredProcedure [dbo].[CreateCalender]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateCalender]
@repdate date
as
declare @StartDate datetime = @repdate;
declare @EndtDate datetime = (select DATEADD(MONTH,1,@repdate));
	--truncate table calenders;
	--create table calenders
	--(
	--	SrNo int identity(1,1) not null,
	--	DateTimes datetime,
	--	yyyymm nvarchar(8),
	--	mm nvarchar(4),
	--	dd nvarchar(4),
	--	WeekDays nvarchar(150)
	--);
	declare @rwcnt int = (select count(*) from calenders where DateTimes>@StartDate and DateTimes<@EndtDate);

	if(@rwcnt=0)
	begin
		while(@StartDate<@EndtDate)
		begin
			insert into calenders values (@StartDate,concat(FORMAT(@StartDate, 'yyyy'),FORMAT(@StartDate, 'MM')),FORMAT(@StartDate, 'MM'),FORMAT(@StartDate, 'dd'),DATENAME(WEEKDAY, @StartDate));
			set @StartDate = (SELECT DATEADD(day, 1, @StartDate));
		end
	end

--select * from calenders;
GO
/****** Object:  StoredProcedure [dbo].[GenerateUswerRtp]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GenerateUswerRtp]
@UserName nvarchar(200),
@Repdt Date
as
	
	declare @gstartdate date = @Repdt;
	declare @genddate date = (select DATEADD(month, 1, @Repdt));
	--select @gstartdate,@genddate;
	declare @TempTbl1 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int,
		DataFrom nvarchar(150)
	);


	declare @TempTbl2 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int,
		DataFrom nvarchar(150)
	);

	declare @TempTbl3 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int,
		DataFrom nvarchar(150)
	);


	declare @TempTbl4 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int,
		DataFrom nvarchar(150)
	);

	declare @TempTbl5 table 
	(
		Computer nvarchar(150),
		startt datetime,
		endt datetime,
		yearmth nvarchar(150),
		Dayys nvarchar(150),
		WorkSec int,
		DataFrom nvarchar(150)
	);

	if(@UserName='All')
	begin
		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		CAST(a.RepDateTime as time) between '09:45' and '19:00' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' 
		and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' 
		and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;			--weekday

		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		CAST(a.RepDateTime as time) between '09:45' and '16:30' 
		and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' 
		and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' 
		and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;				--Saturday

		--insert into @TempTbl1
		--select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,0 as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		--(DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
		--and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		--group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;				--sunday and holiday

		
		--insert into @TempTbl1
		--select a.Computer,min(a.RepDateTime) as startt,
		--null as endt,a.yearmth,a.Dayys,0 as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		--where  a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom!='TeraMind'
		--group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;				--manual entry

		--select * from @TempTbl1 order by Computer,yearmth,Dayys

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where (DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>='00:00' and CAST(a.RepDateTime as time)<'09:45' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>'19:45' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday'and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0)as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>'16:30' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date)not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0)as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.DataFrom!='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl3
		select Computer,min(startt),max(endt),yearmth,Dayys,isnull(sum(WorkSec),0),DataFrom from @TempTbl2 group by Computer,yearmth,Dayys,DataFrom;
	end
	else
	begin
		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		CAST(a.RepDateTime as time) between '09:45' and '19:00' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		CAST(a.RepDateTime as time) between '09:45' and '16:30' and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt, a.yearmth,a.Dayys,0 as WorkSec,a.DataFrom from AttandenceSheetRtp a where 
		(DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;


		insert into @TempTbl1
		select a.Computer,min(a.RepDateTime) as startt,
		null as endt,a.yearmth,a.Dayys,0 as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where  a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom!='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		--select * from @TempTbl1 order by Computer,yearmth,Dayys

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where (DATENAME(WEEKDAY, a.RepDateTime)='Sunday' or cast(a.RepDateTime as date) in (select DateTimes from MonthHolidays))
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>='00:00' and CAST(a.RepDateTime as time)<'09:45' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0) as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>'19:45' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)!='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday'and cast(a.RepDateTime as date) not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0)as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where CAST(a.RepDateTime as time)>'16:30' and CAST(a.RepDateTime as time)<'23:59' and DATENAME(WEEKDAY, a.RepDateTime)='Saturday' and DATENAME(WEEKDAY, a.RepDateTime)!='Sunday' and cast(a.RepDateTime as date)not in (select DateTimes from MonthHolidays)
		and a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl2
		select a.Computer,min(a.RepDateTime) as startt,max(a.RepDateTime) as endt,a.yearmth,a.Dayys,isnull(SUM(a.TotDur),0)as WorkSec,a.DataFrom from AttandenceSheetRtp a 
		where a.RepDateTime>=@gstartdate and a.RepDateTime<@genddate and a.Computer=@UserName and a.DataFrom!='TeraMind'
		group by a.Computer,a.yearmth,a.Dayys,a.DataFrom;

		insert into @TempTbl3
		select Computer,min(startt),max(endt),yearmth,Dayys,isnull(sum(WorkSec),0),DataFrom from @TempTbl2 group by Computer,yearmth,Dayys,DataFrom;;

	end

	declare @tmchk table ( SrNo int identity(1,1), Computer nvarchar(200), yearmth nvarchar(10) );

	insert into @tmchk (Computer,yearmth)
	select a.Computer,a.yearmth from @TempTbl1 a group by Computer,yearmth;

	declare @rntcn int = (select count(*) from @tmchk);
	declare @rnti int = 0;

	--select @rntcn;

	while(@rnti<@rntcn)
	begin
	    declare @cmpname nvarchar(200) = (select Computer from @tmchk where SrNo=(@rnti+1));
		declare @yearmthss nvarchar(200) = (select yearmth from @tmchk where SrNo=(@rnti+1));
		delete from AttandenceUserRtp_v1 where UserIdIs=@cmpname and yyyymm=@yearmthss;
		--select @cmpname,@yearmthss;
		set @rnti = @rnti+1;
	end

	select a.Computer,a.yearmth,a.Dayys,DATENAME(WEEKDAY, a.startt) AS dayweek,a.startt,a.endt,
	--concat(cast(a.startt as date),' ','09:45') as lattime,
	
	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) and a.DataFrom='TeraMind' then
		CONCAT(FLOOR(isnull((DATEDIFF(SECOND,(cast((concat(cast(a.startt as date),' ','09:45')) as datetime)),a.startt)),0) / 3600),':',FLOOR((isnull((DATEDIFF(SECOND,(cast((concat(cast(a.startt as date),' ','09:45')) as datetime)),a.startt)),0) % 3600) / 60))
	else '' 
	end as latintime,

	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) and a.DataFrom='TeraMind' then
		case when DATENAME(WEEKDAY, a.startt)='Saturday' then
		CONCAT(FLOOR((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','16:30')) as datetime))) ) / 3600),':',FLOOR(((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','16:30')) as datetime))) ) % 3600) / 60))
		else	
		CONCAT(FLOOR((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','19:00')) as datetime))) ) / 3600),':',FLOOR(((DATEDIFF(SECOND,a.endt,(cast((concat(cast(a.startt as date),' ','19:00')) as datetime))) ) % 3600) / 60))
		end
	else ''	
	end as preouttime,

	case when DATENAME(WEEKDAY, a.startt)!='sunday' and cast(a.startt as date) not in (select DateTimes from MonthHolidays) then
		CONCAT(FLOOR(a.WorkSec / 3600),':',FLOOR((a.WorkSec % 3600) / 60)) 
	else '' end as OfHr,
	CONCAT(FLOOR(isnull(b.WorkSec,0) / 3600),':',FLOOR((isnull(b.WorkSec,0) % 3600) / 60)) as OvTHrs,
	CONCAT(FLOOR((a.WorkSec+isnull(b.WorkSec,0)) / 3600),':',FLOOR(((a.WorkSec+isnull(b.WorkSec,0)) % 3600) / 60)) as TotHrs,
	case when a.endt is null then '00:00' else
	CONCAT(((SELECT DATEDIFF(SECOND,  a.startt, a.endt))/3600),':',(((SELECT DATEDIFF(SECOND,  a.startt, a.endt)) % 3600))/60)
	end as loginHr 
	from @TempTbl1 a 
	left join @TempTbl3 b on a.Computer=b.Computer and a.yearmth=b.yearmth and a.Dayys=b.Dayys  order by  Computer,yearmth,Dayys;
GO
/****** Object:  StoredProcedure [dbo].[GetFileAttReport]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetFileAttReport]
@Repdtis Date
as 
	exec UserListCalender @Repdtis;
	exec CreateCalender @Repdtis;
	 
	declare @UserMntChart table
	(
		[UserIdIs] nvarchar(200),
		[DateTimes] [datetime] NULL,
		[yyyymm] [nvarchar](8) NULL,
		[mm] [nvarchar](4) NULL,
		[dd] [nvarchar](4) NULL,
		[WeekDays] [nvarchar](150) NULL
	)

	declare @Gyyyymm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'yyyyMM'));
	declare @Gmm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'MM'));

	insert into @UserMntChart (UserIdIs,yyyymm,mm,DateTimes,dd,WeekDays)
	select a.*,b.DateTimes,b.dd,WeekDays from userlists a left join calenders b on a.yyyymm=b.yyyymm and a.mm=b.mm where a.yyyymm=@Gyyyymm1 and a.mm=@Gmm1;


	--select * from SchoolsTemp
	declare @UserMntActivity table
	(
		Computer nvarchar(200),
		[yyyymm] [nvarchar](8) NULL,
		[dayys] [nvarchar](4) NULL,
		[dayweek] [nvarchar](150) NULL,
		[startt] [datetime],
		[endt] [datetime],
		[latintime] nvarchar(20),
		[preouttime] nvarchar(20),
		[OfHr] nvarchar(20),
		[OvTHrs] nvarchar(20),
		[TotHrs] nvarchar(20),
		[loginHr] int
	)

	insert into @UserMntActivity
	Exec AddRtpReport @Repdtis;

	--select * from @UserMntChart
	--select * from @UserMntActivity;

	select a.UserIdIs,a.DateTimes,a.yyyymm,a.mm,a.dd,a.WeekDays, 
	case when a.WeekDays='Sunday' then 'Weekly Off' when a.DateTimes in (select DateTimes from MonthHolidays) Then 'Holiday' else 'Working' end as WeekOffStatus, 
	case when a.WeekDays='Sunday' Then 'W' when a.DateTimes in (select DateTimes from MonthHolidays) then 'O' 
	when (select count(*) from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)>0 then (select LeaveTyp from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)
	when b.startt is null then 'A' 
	when a.WeekDays='Sunday' then '' when a.DateTimes in (select DateTimes from MonthHolidays) Then '' else 'P' end as IsPrsent,
	b.startt,b.endt,isnull(b.latintime,0) as latintime,isnull(b.preouttime,0) as preouttime,
	FORMAT(dateadd(second,datediff(second,0,isnull(b.latintime,'0:0')),isnull(b.preouttime,'0:0')), 'HH:mm') as TotLastPre,
	isnull(b.OfHr,0) as OfHr,isnull(b.OvTHrs,0) as OvTHrs,isnull(b.TotHrs,0) as TotHrs,
	isnull(b.loginHr,'') as loginHr
	 from @UserMntChart a left join @UserMntActivity b on a.UserIdIs=b.Computer and  a.yyyymm=b.yyyymm and  a.dd=b.dayys and  a.WeekDays=b.dayweek
	 order by a.UserIdIs,a.DateTimes
GO
/****** Object:  StoredProcedure [dbo].[GetUserAttandance]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetUserAttandance]
@UserName nvarchar(200),
@Repdtis Date
as 
	set @Repdtis = (select cast(concat(YEAR(@Repdtis),'-',MONTH(@Repdtis),'-','01') as date));
	exec UserListCalender @Repdtis;
	exec CreateCalender @Repdtis;

	declare @UserMntChart table
	(
		[UserIdIs] nvarchar(200),
		[DateTimes] [datetime] NULL,
		[yyyymm] [nvarchar](8) NULL,
		[mm] [nvarchar](4) NULL,
		[dd] [nvarchar](4) NULL,
		[WeekDays] [nvarchar](150) NULL
	)

	declare @Gyyyymm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'yyyyMM'));
	declare @Gmm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'MM'));

	if(@UserName='All')
	begin
		insert into @UserMntChart (UserIdIs,yyyymm,mm,DateTimes,dd,WeekDays)
			select a.*,b.DateTimes,b.dd,WeekDays from userlists a left join calenders b on a.yyyymm=b.yyyymm and a.mm=b.mm
			where a.yyyymm=@Gyyyymm1 and a.mm=@Gmm1;
	end
	else
	begin
		insert into @UserMntChart (UserIdIs,yyyymm,mm,DateTimes,dd,WeekDays)
			select a.*,b.DateTimes,b.dd,WeekDays from userlists a left join calenders b on a.yyyymm=b.yyyymm and a.mm=b.mm
			where a.yyyymm=@Gyyyymm1 and a.mm=@Gmm1 and a.UserIdIs=@UserName;
	end

	declare @tmchk table ( SrNo int identity(1,1), Computer nvarchar(200), yearmth nvarchar(10) );

	insert into @tmchk (Computer,yearmth)
	select a.UserIdIs,a.yyyymm from @UserMntChart a group by a.UserIdIs,a.yyyymm;

	declare @rntcn int = (select count(*) from @tmchk);
	declare @rnti int = 0;

	--select @rntcn;
	
	while(@rnti<@rntcn)
	begin
		declare @cmpname nvarchar(200) = (select Computer from @tmchk where SrNo=(@rnti+1));
		declare @yearmthss nvarchar(200) = (select yearmth from @tmchk where SrNo=(@rnti+1));
		delete from AttandenceUserRtp_v1 where UserIdIs=@cmpname and yyyymm=@yearmthss;
		--select @cmpname,@yearmthss;
		set @rnti = @rnti+1;
	end


	--select * from SchoolsTemp
	declare @UserMntActivity table
	(
		Computer nvarchar(200),
		[yyyymm] [nvarchar](8) NULL,
		[dayys] [nvarchar](4) NULL,
		[dayweek] [nvarchar](150) NULL,
		[startt] [datetime],
		[endt] [datetime],
		[latintime] nvarchar(20),
		[preouttime] nvarchar(20),
		[OfHr] nvarchar(20),
		[OvTHrs] nvarchar(20),
		[TotHrs] nvarchar(20),
		[loginHr] nvarchar(20)
	)

	insert into @UserMntActivity
	Exec GenerateUswerRtp @UserName,@Repdtis;

	--select * from @UserMntChart
	--select * from @UserMntActivity;

	insert into AttandenceUserRtp_v1
		select a.UserIdIs,a.DateTimes,a.yyyymm,a.mm,a.dd,a.WeekDays, 
		case when a.WeekDays='Sunday' then 'Weekly Off' when a.DateTimes in (select DateTimes from MonthHolidays) Then 'Holiday' else 'Working' end as WeekOffStatus, 
		case when a.WeekDays='Sunday' Then 'W' when a.DateTimes in (select DateTimes from MonthHolidays) then 'O' 
		when (select count(*) from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)>0 then (select LeaveTyp from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)
		when b.startt is null then 'A' 
		when a.WeekDays='Sunday' then '' when a.DateTimes in (select DateTimes from MonthHolidays) Then '' else 'P' end as IsPrsent,
	
		case when b.endt is null then null else b.startt end as startt,	b.endt,
		cast(case when isnull(b.latintime,'00:00')='' then '00:00' else isnull(b.latintime,'00:00') end as time) as latintime,

		cast(case when isnull(b.preouttime,'00:00')='' then '00:00' else isnull(b.preouttime,'00:00') end as time) as preouttime,
	
		cast(FORMAT(dateadd(second,datediff(second,0,isnull(b.latintime,'0:0')),isnull(b.preouttime,'0:0')), 'HH:mm') as time) as TotLastPre,
	
		cast(case when isnull(b.OfHr,'00:00')='' then '00:00' else isnull(b.OfHr,'00:00') end as time) as OfHr,
		cast(case when isnull(b.OvTHrs,'00:00')='' then '00:00' else isnull(b.OvTHrs,'00:00') end as time) as OvTHrs,
		cast(case when isnull(b.TotHrs,'00:00')='' then '00:00' else isnull(b.TotHrs,'00:00') end as time) as TotHrs,
		cast(isnull(b.loginHr,'00:00') as time) as loginHr
	
		from @UserMntChart a left join @UserMntActivity b on a.UserIdIs=b.Computer and  a.yyyymm=b.yyyymm and  a.dd=b.dayys and  a.WeekDays=b.dayweek
		 order by a.UserIdIs,a.DateTimes
	 
	declare @ggstartdate date = @Repdtis;
	declare @ggenddate date = (select DATEADD(month, 1, @Repdtis));

	if(@UserName='All')
	begin
		select * from AttandenceUserRtp_v1 where DateTimes>=@ggstartdate and DateTimes<@ggenddate order by UserIdIs,DateTimes;
	end
	else
	begin
	   select * from AttandenceUserRtp_v1 where DateTimes>=@ggstartdate and DateTimes<@ggenddate and UserIdIs=@UserName order by UserIdIs,DateTimes;
	end

GO
/****** Object:  StoredProcedure [dbo].[GetUserAttandance2]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetUserAttandance2]
@UserName nvarchar(200),
@Repdtis Date
as 
	set @Repdtis = (select cast(concat(YEAR(@Repdtis),'-',MONTH(@Repdtis),'-','01') as date));
	exec UserListCalender @Repdtis;
	exec CreateCalender @Repdtis;

	declare @UserMntChart table
	(
		[UserIdIs] nvarchar(200),
		[DateTimes] [datetime] NULL,
		[yyyymm] [nvarchar](8) NULL,
		[mm] [nvarchar](4) NULL,
		[dd] [nvarchar](4) NULL,
		[WeekDays] [nvarchar](150) NULL
	)

	declare @Gyyyymm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'yyyyMM'));
	declare @Gmm1 nvarchar(8) = (SELECT FORMAT(@Repdtis, 'MM'));

	if(@UserName='All')
	begin
		insert into @UserMntChart (UserIdIs,yyyymm,mm,DateTimes,dd,WeekDays)
			select a.*,b.DateTimes,b.dd,WeekDays from userlists a left join calenders b on a.yyyymm=b.yyyymm and a.mm=b.mm
			where a.yyyymm=@Gyyyymm1 and a.mm=@Gmm1;
	end
	else
	begin
		insert into @UserMntChart (UserIdIs,yyyymm,mm,DateTimes,dd,WeekDays)
			select a.*,b.DateTimes,b.dd,WeekDays from userlists a left join calenders b on a.yyyymm=b.yyyymm and a.mm=b.mm
			where a.yyyymm=@Gyyyymm1 and a.mm=@Gmm1 and a.UserIdIs=@UserName;
	end


	declare @tmchk table ( SrNo int identity(1,1), Computer nvarchar(200), yearmth nvarchar(10) );

	insert into @tmchk (Computer,yearmth)
	select a.UserIdIs,a.yyyymm from @UserMntChart a group by a.UserIdIs,a.yyyymm;

	declare @rntcn int = (select count(*) from @tmchk);
	declare @rnti int = 0;

	--select @rntcn;
	
	while(@rnti<@rntcn)
	begin
		declare @cmpname nvarchar(200) = (select Computer from @tmchk where SrNo=(@rnti+1));
		declare @yearmthss nvarchar(200) = (select yearmth from @tmchk where SrNo=(@rnti+1));
		delete from AttandenceUserRtp_v1 where UserIdIs=@cmpname and yyyymm=@yearmthss;
		--select @cmpname,@yearmthss;
		set @rnti = @rnti+1;
	end
	


	--select * from SchoolsTemp
	declare @UserMntActivity table
	(
		Computer nvarchar(200),
		[yyyymm] [nvarchar](8) NULL,
		[dayys] [nvarchar](4) NULL,
		[dayweek] [nvarchar](150) NULL,
		[startt] [datetime],
		[endt] [datetime],
		[latintime] nvarchar(20),
		[preouttime] nvarchar(20),
		[OfHr] nvarchar(20),
		[OvTHrs] nvarchar(20),
		[TotHrs] nvarchar(20),
		[loginHr] nvarchar(20)
	)

	insert into @UserMntActivity
	Exec GenerateUswerRtp @UserName,@Repdtis;

	insert into AttandenceUserRtp_v1
		select a.UserIdIs,a.DateTimes,a.yyyymm,a.mm,a.dd,a.WeekDays, 
		case when a.WeekDays='Sunday' then 'Weekly Off' when a.DateTimes in (select DateTimes from MonthHolidays) Then 'Holiday' else 'Working' end as WeekOffStatus, 
		case when a.WeekDays='Sunday' Then 'W' when a.DateTimes in (select DateTimes from MonthHolidays) then 'O' 
		when (select count(*) from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)>0 then (select LeaveTyp from UserLeaves k where k.DateTimes=a.DateTimes and k.UserId=a.UserIdIs)
		when b.startt is null then 'A' 
		when a.WeekDays='Sunday' then '' when a.DateTimes in (select DateTimes from MonthHolidays) Then '' else 'P' end as IsPrsent,
	
		case when b.endt is null then null else b.startt end as startt,	b.endt,
		cast(case when isnull(b.latintime,'00:00')='' then '00:00' else isnull(b.latintime,'00:00') end as time) as latintime,

		cast(case when isnull(b.preouttime,'00:00')='' then '00:00' else isnull(b.preouttime,'00:00') end as time) as preouttime,
	
		cast(FORMAT(dateadd(second,datediff(second,0,isnull(b.latintime,'0:0')),isnull(b.preouttime,'0:0')), 'HH:mm') as time) as TotLastPre,
	
		cast(case when isnull(b.OfHr,'00:00')='' then '00:00' else isnull(b.OfHr,'00:00') end as time) as OfHr,
		cast(case when isnull(b.OvTHrs,'00:00')='' then '00:00' else isnull(b.OvTHrs,'00:00') end as time) as OvTHrs,
		cast(case when isnull(b.TotHrs,'00:00')='' then '00:00' else isnull(b.TotHrs,'00:00') end as time) as TotHrs,
		cast(isnull(b.loginHr,'00:00') as time) as loginHr
	
		from @UserMntChart a left join @UserMntActivity b on a.UserIdIs=b.Computer and  a.yyyymm=b.yyyymm and  a.dd=b.dayys and  a.WeekDays=b.dayweek
		--where a.UserIdIs=@UserName and a.DateTimes=@Repdtis
		 order by a.UserIdIs,a.DateTimes

GO
/****** Object:  StoredProcedure [dbo].[GetUserAttandanceFrTl]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserAttandanceFrTl]
@UserName nvarchar(200),
@StartDate Date,
@REndDate Date
as 
	declare @totdays int = (select DATEDIFF(MONTH,@StartDate,@REndDate));
	declare @i int = 0;

	--select @totdays;

	declare @Repdtis date =  @StartDate;
	while(@i<@totdays)
	begin
		--select @Repdtis,@UserName;
		Exec GetUserAttandance2 @UserName,@Repdtis;
		set @Repdtis = (select DATEADD(MONTH,1,@Repdtis));
		
		set @i  = @i+1;
	end
	
	if(@UserName='All')
	begin
		select * from AttandenceUserRtp_v1 where DateTimes>=@StartDate and DateTimes<@REndDate order by UserIdIs,DateTimes;
	end
	else
	begin
	   select * from AttandenceUserRtp_v1 where DateTimes>=@StartDate and DateTimes<@REndDate and UserIdIs=@UserName order by UserIdIs,DateTimes;
	end

GO
/****** Object:  StoredProcedure [dbo].[GetUserSumAttandanceFrTl]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserSumAttandanceFrTl]
@UserName nvarchar(200),
@StartDate Date,
@REndDate Date
as 
	declare @totdays int = (select DATEDIFF(MONTH,@StartDate,@REndDate));
	declare @i int = 0;

	--select @totdays;

	declare @Repdtis date =  @StartDate;
	while(@i<@totdays)
	begin
		--select @Repdtis,@UserName;
		Exec GetUserAttandance2 @UserName,@Repdtis;
		set @Repdtis = (select DATEADD(MONTH,1,@Repdtis));
		
		set @i  = @i+1;
	end
	
	if(@UserName='All')
	begin
		select a.UserIdIs as USERNAME, a.yyyymm as YYYYMM,
		(select count(*) from AttandenceUserRtp_v1 b where b.yyyymm=a.yyyymm and b.UserIdIs=a.UserIdIs and b.WeekDays!='sunday') as TOTALDAYS,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='P') as PRESENT,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='A') as ABSENT,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='L') as FullDay,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='LH') as HalfDay,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='OC') as Compensate,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='O') as HOLIDAY,

		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) % 60))) as LATEINTIME,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) % 60))) as PREOUTTIME,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) % 60))) as WORKIMGHR,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) % 60))) as OTHOURS,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) % 60))) as LOGIMHOURS
		
		from AttandenceUserRtp_v1 a
		where DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)>20 and a.DateTimes>=@StartDate and a.DateTimes<@REndDate
		GROUP BY a.UserIdIs, a.yyyymm
		ORDER BY a.UserIdIs, a.yyyymm;
	end
	else
	begin
		select a.UserIdIs as USERNAME, a.yyyymm as YYYYMM,
		(select count(*) from AttandenceUserRtp_v1 b where b.yyyymm=a.yyyymm and b.UserIdIs=a.UserIdIs and b.WeekDays!='sunday') as TOTALDAYS,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='P') as PRESENT,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='A') as ABSENT,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='L') as FullDay,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='LH') as HalfDay,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='OC') as Compensate,
		(select count(*) from AttandenceUserRtp_v1 c where c.yyyymm=a.yyyymm and c.UserIdIs=a.UserIdIs and c.IsPrsent='O') as HOLIDAY,

		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, latintime), 0), latintime)) % 60))) as LATEINTIME,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, preouttime), 0), preouttime)) % 60))) as PREOUTTIME,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OfHr), 0), OfHr)) % 60))) as WORKIMGHR,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, OvTHrs), 0), OvTHrs)) % 60))) as OTHOURS,
		CONCAT(FLOOR(sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) / 60),':',FLOOR((sum(DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)) % 60))) as LOGIMHOURS
		
		from AttandenceUserRtp_v1 a
		where DATEDIFF(MINUTE, DATEADD(DAY, DATEDIFF(DAY, 0, loginHr), 0), loginHr)>20 and a.DateTimes>=@StartDate and a.DateTimes<@REndDate and a.UserIdIs=@UserName
		GROUP BY a.UserIdIs, a.yyyymm
		ORDER BY a.UserIdIs, a.yyyymm;
	end

GO
/****** Object:  StoredProcedure [dbo].[UplAddRtpReport]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[UplAddRtpReport]
@filepath nvarchar(max)
as
	truncate table SchoolsTempRec;
	truncate table SchoolsTemp;
	
	--delete from SchoolsTemp
	--delete from AttandenceSheet

	--drop table #SchoolsTempRec
	/*create table SchoolsTempRec (
		col1 nvarchar(max) null,
		col2 nvarchar(max) null,
		col3 nvarchar(max) null,
		col4 nvarchar(max) null,
		col5 nvarchar(max) null,
		col6 nvarchar(max) null,
		col7 nvarchar(max) null
	);*/

	DECLARE @SQL NVARCHAR(MAX) = ''
    SET @SQL = N'
    BULK INSERT SchoolsTempRec
      FROM ''' + @filepath + '''
      WITH (
	    FIRSTROW = 2,
        FIELDTERMINATOR = ''\t'',
        ROWTERMINATOR = ''\n''
      )'

	  --select @SQL;

	  EXEC sp_executesql @SQL;

	  insert into SchoolsTemp
	  select col1,col3,col6 from SchoolsTempRec

	
	declare @TenAtt table 
	(
		Computer nvarchar(200),
		yearmth nvarchar(8),
		mth nvarchar(4)
	)

	declare @TenAttDist table 
	(
		SrNo int identity(1,1),
		Computer nvarchar(200),
		yearmth nvarchar(8),
		mth nvarchar(4)
	)

	insert into @TenAtt	(Computer,yearmth,mth)
	SELECT col2 as WComputer,concat(SUBSTRING(col1, 7, 4),SUBSTRING(col1, 4, 2)) as yyyyMM,SUBSTRING(col1, 4, 2) as MM
	from SchoolsTemp;

	insert into @TenAttDist select Computer,yearmth,mth from @TenAtt group by Computer,yearmth,mth;

	declare @cnts int = (select count(*) from @TenAttDist);
	declare @ci int = 0;

	while(@ci<@cnts)
	begin
		declare @gcompname nvarchar(200) = (select Computer from @TenAttDist where SrNo=(@ci+1));
		declare @gyrmth nvarchar(10) = (select yearmth from @TenAttDist where SrNo=(@ci+1));
		declare @gmth nvarchar(4) = (select mth from @TenAttDist where SrNo=(@ci+1));
		delete from AttandenceSheet where Computer=@gcompname and yearmth=@gyrmth;
		declare @usercheck int = (select count(*) from userlists where UserIdIs=@gcompname); 
		
		if(@usercheck=0)
		begin
			insert into userlists (UserIdIs,yyyymm,mm) values (@gcompname,@gyrmth,@gmth);
		end

		--UserIdIs	yyyymm	mm
		set @ci = 1+@ci;
	end

	insert into AttandenceSheet	(RepDateTime,Computer,Duration,yearmth,mth,dayys,UploadedOn)
	SELECT cast(concat(SUBSTRING(col1, 7, 4),'/',SUBSTRING(col1, 4, 2),'/',SUBSTRING(col1, 1, 2),' ',SUBSTRING(col1, 12, 8)) as datetime) AS WDateTime,
	col2 as WComputer,col3 as WDuration,concat(SUBSTRING(col1, 7, 4),SUBSTRING(col1, 4, 2)) as yyyyMM,SUBSTRING(col1, 4, 2) as MM,SUBSTRING(col1, 1, 2) as DD,
	GETDATE()
	from SchoolsTemp where LEN(col1)=16 and (col1 like '%-2023%' or col1 like '%-2024%' or col1 like '%-2025%' or col1 like '%-2026%' or col1 like '%-2027%' or col1 like '%-2028%'
	or col1 like '%/2023%' or col1 like '%/2024%' or col1 like '%/2025%' or col1 like '%/2026%' or col1 like '%/2027%' or col1 like '%/2028%');


	--select * from AttandenceSheet
	--select * from AttandenceSheetRtp

GO
/****** Object:  StoredProcedure [dbo].[UserListCalender]    Script Date: 22-08-2026 10:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserListCalender]
@repdate date
as
	declare @Gyyyymm nvarchar(8) = (SELECT FORMAT(@repdate, 'yyyyMM'));
	declare @Gmm nvarchar(8) = (SELECT FORMAT(@repdate, 'MM'));
	
	declare @temuserlist table
	(
	    SrNo int identity(1,1),
		UserComp nvarchar(200)
	)

	insert into @temuserlist
	select UserIdIs from userlists group by UserIdIs;

	declare @ccnt int = (select count(*) from @temuserlist);
	declare @cci int = 0;

	while(@cci<@ccnt)
	begin
		declare @ggname nvarchar(200) = (select UserComp from @temuserlist where SrNo=(@cci+1));
		declare @ccnt1 int = (select count(*) from userlists where UserIdIs=@ggname and yyyymm=@Gyyyymm and mm=@Gmm);
		if(@ccnt1=0)
		begin
			insert into userlists values (@ggname,@Gyyyymm,@Gmm);
		end
		set @cci = 1+@cci;
	end

	--select * from userlists;
GO
